<!--The content below is only a placeholder and can be replaced.-->

<router-outlet></router-outlet>


<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

    <cdk-virtual-scroll-viewport itemSize="7" class="example-viewport">
      <div *cdkVirtualFor="let item of ds" class="example-item">
        <div class="img-item">
          <img src="{{item.thumbnailUrl || 'Loading..'}}" alt="{{item.title}}"/>
        </div>
        <div class="p-item">
          <p>{{item.title}}</p>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>

</div>


